.container {

    margin-top: 50px;
    width: 920px;
    height: 400px;
    padding: 0px;
    border: 2px solid rgba(163, 163, 165, 0.863);
    border-radius: 10px;

}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: rgba(163, 163, 165, 0.863)
}

::-webkit-scrollbar-thumb {
    background: rgba(163, 163, 165, 0.863)
}

.box {
    height: 60px;
    width: 916px;
    margin-left: 0px;
    border-bottom: 2px solid rgba(163, 163, 165, 0.863);
    text-align: center;
    padding-bottom: 30px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding-top: 10px;
    /* position: fixed; */
    margin-bottom: 20px;
}

/* select {
    -webkit-appearance: listbox !important;
} */

.form-row {

    padding: 10px;
    margin-top: 10px;
    border-bottom: 1px solid rgba(163, 163, 165, 0.863);
    position: inherit;
    display: flex;
}

.row {

    height: 70%;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    overflow-y: auto;
    overflow-x: hidden;

}

.footer {

    align-items: center;
    margin-left: 45%;
    margin-top: 21px;
}

.form-check-input {
    margin-left: 1%;

}

.form-check-label {
    margin-left: 1%;
}

.form-footer {

    margin-left: 1%;
    margin-top: 180px;
    display: flex;
    /* position: fixed; */
}

.container-2 {

    margin: auto;
    margin-top: 20px;
    width: 920px;
    /*
    height: 400px;
    padding: 0px;
    border: 2px solid rgba(163, 163, 165, 0.863);
    border-radius: 10px; */

}

.form-wrapper {
    margin-top: 5px;
    height: 15%;
    margin-bottom: 35px;
}

/*
.modal {
    width: 900px;
} */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}